@model FlightViewModel

@{
    ViewData["Title"] = "Create";
}


<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <input asp-for="Departure" class="form-control" />
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrival" class="control-label"></label>
                <input asp-for="Arrival" class="form-control" />
                <span asp-validation-for="Arrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureAirportId" class="control-label"></label>
                <select asp-for="DepartureAirportId" class ="form-control" asp-items="@(new SelectList(Model.AllAirports,"AirportId","Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalAirportId" class="control-label"></label>
                <select asp-for="ArrivalAirportId" class ="form-control" asp-items="@(new SelectList(Model.AllAirports,"AirportId","Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="AirlineId" class="control-label"></label>
                <select asp-for="AirlineId" class ="form-control" asp-items="@(new SelectList(Model.AllAirlineCompanies,"AirlineId","AirlineName"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
